.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.mobile {
	padding-top: 20px;
}

body {
	background-image:url('img/wavegrid.png');
}




@media only screen 
and (min-width : 321px) {

}


@media only screen 
and (max-width : 320px) {

}